@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html,
body {
    height: 100% !important;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #212327;
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.tip {
    font-family: 'Indie Flower', serif;
    position: absolute;
    color: rgb(117, 117, 117);
    margin: 10px 5px;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}